:root {
  --main-text-cl: #757575;
  --title-text-cl: #212121;
  --logo-text-cl: #000000;
  --alt-text-cl: #ffffff;
  --secondary-text-cl: rgba(255, 255, 255, 0.6);
  --accent-cl: #2196f3;

  --primary-bg-cl: #ffffff;
  --accent-bg-cl: #f5f4fa;
  --black-bg-cl: #2f303a;

  --border-header-box: #ececec;
  --shadow-item-box: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

  --padding-section: 94px;
  --margin-left-li: 30px;
  --padding-footer: 60px;

  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
}

body {
  font-family: var(--main-font);
  /* font-size: 14px;
  line-height: 1.71; */
  letter-spacing: 0.03em;
  color: var(--main-text-cl);
  background-color: var(--primary-bg-cl);
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid red; */
}

/* ВЕРХНЯЯ ЛИНИЯ - HEADER */
.nav-header {
  background-color: var(--primary-bg-cl);
  border-bottom: 1px solid var(--border-header-box);
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
  align-items: center;
}

/* 1-й спосіб відступу елементів один від одного */
/* .site-nav .item:not(:last-child) {
  margin-right: 50px;
} */

/* 2-й спосіб відступу елементів один від одного */
.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link-nav {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.list-contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

/* 1-й спосіб відступу елементів один від одного */
/* .list-contact .item:not(:last-child) {
  margin-right: 50px;
} */

/* 2-й спосіб відступу елементів один від одного */
.list-contact .item + .item {
  margin-left: 50px;
}

.list-contact .link-header {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.link-logo-header {
  font-family: var(--logo-font);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-cl);
  padding-top: 24px;
  padding-bottom: 25px;
}

.sublogo-header {
  color: var(--logo-text-cl);
}

.sublogo-footer {
  color: var(--alt-text-cl);
}

.link-nav,
.link-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-cl);
  text-decoration: none;
}

.link-header {
  color: var(--main-text-cl);
}

.link-nav:hover,
.link-nav:focus,
.link-header:hover,
.link-header:focus {
  color: var(--accent-cl);
}

.list .link-nav.current {
  color: var(--accent-cl);
}

/* ШАПКА - ГЕРОЙ -HERO */
.hero-section {
  background-color: var(--black-bg-cl);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  max-width: 692px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--alt-text-cl);
}

.studio-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--alt-text-cl);
  background-color: var(--accent-cl);
  cursor: pointer;

  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ОСОБЕННОСТИ - FEATURE */

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.features-list-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-text-cl);
  text-transform: uppercase;
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-cl);
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--margin-left-li));
}

.card-set > .item {
  flex-basis: calc(100% / 4 - var(--margin-left-li));
  margin-left: var(--margin-left-li);
}

.features-section {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}

/* ЧЕМ МЫ ЗАНИМАЕМСЯ - WORK SECTION */

.work-title,
.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-cl);
}

.our-works {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--margin-left-li));
  margin-top: calc(-1 * var(--margin-left-li));
}

.our-works > .item {
  flex-basis: calc(100% / 3 - var(--margin-left-li));
  margin-left: var(--margin-left-li);
  margin-top: var(--margin-left-li);
}
.work-section {
  padding-bottom: var(--padding-section);
}

/* НАША КОМАНДА - OUR TEAM */
.team-section {
  background-color: var(--accent-bg-cl);
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}

.content {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.team-title-list {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-cl);
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-cl);
}

.our-team {
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--margin-left-li));
  margin-top: calc(-1 * var(--margin-left-li));
}

.our-team > .item {
  flex-basis: calc(100% / 4 - var(--margin-left-li));
  margin-left: var(--margin-left-li);
  margin-top: var(--margin-left-li);

  background: var(--primary-bg-cl);
  box-shadow: var(--shadow-item-box);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

/* ПОДВАЛ - FOOTER */
.footer {
  background-color: var(--black-bg-cl);
  padding-top: var(--padding-footer);
  padding-bottom: var(--padding-footer);
}

.link-logo-footer {
  font-family: var(--logo-font);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-cl);
  display: inline-block;
  margin-bottom: 20px;
}

.link-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--alt-text-cl);
  text-decoration: none;
}

.link-address:hover,
.link-address:focus,
.link-footer:hover,
.link-footer:focus {
  color: var(--accent-cl);
}

.link-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

address .item:not(:last-child) {
  margin-bottom: 9px;
}

/* PORTFOLIO */

.section-portfolio {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}
/*  ПОЧАТОК CSS КНОПОК-ФІЛЬТРІВ */

.button-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-cl);
  background-color: var(--accent-bg-cl);
  cursor: pointer;

  padding: 6px 22px;
  border: none;
  border-radius: 4px;
}

.list .button-portfolio.actively {
  color: var(--alt-text-cl);
  background-color: var(--accent-cl);
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--accent-cl);
  color: var(--alt-text-cl);
}

.button-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.button-list .item + .item {
  margin-left: 8px;
}

/*  КІНЕЦЬ CSS КНОПОК-ФІЛЬТРІВ */

/* OUR-PROJECTS */
.description {
  padding: 20px 24px;
}
.name-work {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-cl);
}

.portfolio-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--main-text-cl);
}

.our-projects {
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  /* justify-content: center;
  align-items: center; */
  margin-left: calc(-1 * var(--margin-left-li));
  margin-top: calc(-1 * var(--margin-left-li));
}

.our-projects > .item {
  flex-basis: calc(100% / 3 - var(--margin-left-li));
  margin-left: var(--margin-left-li);
  margin-top: var(--margin-left-li);

  background: var(--primary-bg-cl);
  border: 1px solid #eeeeee;
}
